body{
background:black;
color:white;
font-family:serif;
text-align:center;
padding:20px;
}

button{
padding:10px 20px;
margin:10px;
font-size:16px;
}

.box{
border:1px solid white;
padding:20px;
margin:20px;
}

p{
font-size:18px;
cursor:pointer;
}

.check{
margin-top:20px;
font-size:18px;
}
