body{
background:black;
color:white;
font-family:Arial;
text-align:center;
}

.app{
padding:20px;
}

.toggle button{
padding:10px 20px;
margin:5px;
}

.box{
margin-top:20px;
border:1px solid white;
padding:10px;
}

#final{
margin-top:20px;
font-size:22px;
font-weight:bold;
}
